<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="APP_LOG_ROOT">./Server/logs</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout
                    pattern="%style{%d{ISO8601}}{black} %style{[%t]}{blue} %style{%-5level:}{yellow} %style{%msg%n%throwable}{green}"/>
        </Console>
        <RollingFile
                name="appLog"
                filePattern="${APP_LOG_ROOT}/logs_%d{yyyy-MM-dd}_%d{HH:mm:ss}_%i.log">
            <SizeBasedTriggeringPolicy size="32 MB"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="org.makolpaschikov.bankaccount" additivity="false">
            <AppenderRef ref="appLog"/>
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="appLog"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>